* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00008bcb;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
